
<div class="col-md-12">
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title">查询</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>代码</label>
                            <input type="text" id="filterSymbol" class="form-control" placeholder="Enter ...">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>行业</label>
                            <input type="text" class="form-control" placeholder="Enter ...">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">关注</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">大盘股</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="dt">分类</div>
                </div>
                <div id="sectorList" class="row">
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- select -->
                        <div class="form-group">
                            <label>Select</label>
                            <select class="form-control">
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                                <option>option 5</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <button id="submitSearch" class="btn btn-primary">查询</button>
                </div>
            </form>
        </div>
        <!-- /.card-body -->
    </div>
</div>