---
import Head from "@components/_head.astro"
import Scripts from "@components/_scripts.astro"

const title = "AdminLTE 4 | Login Page"
const path = "../../dist"

---
<!DOCTYPE html>
<html lang="en">
  <!--begin::Head-->
  <head>
    <Head title={title} path={path} />
  </head>
  <!--end::Head-->
  <!--begin::Body-->
  <body class="login-page bg-body-secondary">
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">

          <form method="post" id="loginForm">
            <div class="input-group mb-3">
              <input type="username" id="username" class="form-control" placeholder="username" />
              <div class="input-group-text">
                <span class="bi bi-envelope"></span>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                id="password"
                type="password"
                class="form-control"
                placeholder="Password"
              />
              <div class="input-group-text">
                <span class="bi bi-lock-fill"></span>
              </div>
            </div>
            <!--begin::Row-->
              <!-- /.col -->
              <div class="col-4">
                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-primary">Sign In</button>
                </div>
              </div>
              <!-- /.col -->
            <!--end::Row-->
          </form>
          <!-- /.social-auth-links -->
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->

    <Scripts path={path} />
    <script type="module" src="@/utils/login.js"></script>
    <!--end::Script-->
  </body><!--end::Body-->
</html>
